.nav-item-styles:hover {
  border-bottom: 5px solid rgb(56, 200, 56);
  color: black !important;
}

.signin {
  background-color: rgb(56, 200, 56);
  color: white !important;
  border-radius: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  display: flex;
  justify-content: center;
}

.signup {
  display: flex;
  justify-content: center;
  color: black !important;
}
