.star-icon {
  color: hsl(141, 71%, 48%);
  border: none;
  background: none;
  padding: 0;
}

.coin-name {
  color: #363636;
}


@media screen and (max-width: 900px) {
  .to-remove {
    display: none;
  }
}
