article {
  max-height: 20em;
  margin-bottom: 2em;
  padding: 20px;
}

.news-card {
  width: fit-content;
}

.news-container {
  margin-top: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
}

.news-item {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  height: 100%;
  width: 25%;
  margin-right: 25px;
}

.news-image {
  object-fit: cover;
  border-radius: 0.6rem;
}

.news-title {
  color: rgb(56, 200, 56);
}

.item-content {
  width: 75%;
}

@media (max-width: 685px) {
  .image-container {
    display: none;
  }
}
