footer {
    background-color: rgb(56, 200, 56);
}

.footerr {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }